css
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lemonchiffon;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    font-weight: bold;
    padding: 10px;
}

.header .logo {
    font-size: 20px;
}

.header .welcome {
    font-size: 20px;
}

.header .logout {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.product-list-container {
    margin-top: 20px;
}

.your-shopping-cart-container {
    margin-top: 20px;
}

.your-shopping-cart-container .quantity {
    text-align: right;
}

.place-order-container {
    margin-top: 20px;
    text-align: center;
}

.place-order-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.place-order-button:hover {
    background-color: #45a049;
}
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #ccc;
}
.cart-icon {
    width: 20px;
    height: 20px;
}